<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Article</title>
</head>
<body>
    <h1>Create a new article</h1>
    <form action="/articles" method="POST">
        <label for="title">Article Name:</label>
        <input type="text" name="title" id="title">
        <label for="content">Article Content:</label>
        <input type="text" name="content" id="content">
        <button type="submit">submit</button>
    </form>
</body>
</html>